<template>
	<div class="modal" :class="{'is-active': show }">
	  <div class="modal-background" v-if="hasBackground"></div>
	  <div class="modal-content">
	    <slot />
	  </div>
	  <button class="modal-close is-large" aria-label="close" @click="onCloseClick"></button>
	</div>
</template>

<script>
export default {
	name: 'BulmaModal',
	methods: {
		onCloseClick() {
			this.$emit('Close')
		}
	},
	props: {
		hasBackground: {
			type: Boolean,
			required: false,
			default: true
		},
		show: {
			type: Boolean,
			required: true,
			default: false
		}
	}
}
</script>

<style scoped>
	.modal-content {
		background-color: #fff;
		padding: 10px;
		width: 90%;
	}

	.modal {

	}
</style>