<template>
	<bulma-modal
		:show="show"
		@Close="onCloseClick"
	>
		<vue-cal
			ref="vuecal"
			class="vuecal--green-theme"
			editable-events
			:events="[]"
			small
			today-button
			@cell-dblclick="onEventCreate"
		  @event-create="onEventCreate"
		/>
	</bulma-modal>
</template>

<script>
import BulmaModal from '@/components/modals/BulmaModal.vue'
import VueCal from 'vue-cal'

import 'vue-cal/dist/vuecal.css'

export default {
	name: 'DeadlineModel',
	components: {
		BulmaModal,
		VueCal
	},
	extends: BulmaModal,
	methods: {
		onEventCreate(e) {
			window.console.log('dada', e)
		}
	}
}
</script>