<template>
	<table class="table is-fullwidth is-hoverable is-striped">
		<thead>
			<tr>
				<th width="75%">Notification</th>
				<th width="1%">Active</th>
				<th width="1%">Sent</th>
				<th>Date</th>
			</tr>
		</thead>

		<tbody>
			<tr v-for="notification in notifications" :key="notification.id">
				<td>{{ notification.title }}</td>
				<td>
					<icon
						icon="fas fa-check"
						class="has-text-success is-clickable"
						title="Toggle active"
						@click="toggleActive(notification.id, notification.is_active)"
						v-if="notification.is_active"
					/>
					<icon
						icon="fas fa-times"
						class="has-text-danger is-clickable"
						title="Toggle active"
						@click="toggleActive(notification.id, notification.is_active)"
						v-else
					/>
				</td>
				<td>
					<icon
						icon="fas fa-check"
						class="has-text-success"
						:title="'Sent at' + notification_sent_at"
						v-if="notification.sent_at"
					/>
					<icon
						icon="fas fa-times"
						class="has-text-danger"
						v-else
					/>
				</td>
				<td>
					<datepicker
						monday-first
						v-model="notification.scheduled_at"
					  @selected="onScheduledAtSelected($event, notification.id)"
					/>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
import DateMixin from '@/mixins/date.mixin'
import Datepicker from 'vuejs-datepicker'
import Icon from '@/components/Icon.vue'
import TodoNotificationsMixin from '@/mixins/todo-notifications.mixin'

export default {
	name: 'TodoNotificationsTable',
	components: {
		Datepicker,
		Icon
	},
	created() {
		this.onCreated()
	},
	data: () => ({
		notifications: [],
		repaint: true
	}),
	methods: {
		onCreated() {
			this.$store.commit('REQUEST_INIT')
			this.getTodoNotifications(this.todo.id).then((res) => {
				this.notifications = res.data
				this.$store.commit('REQUEST_STOP')
			})
		},
		onScheduledAtSelected(scheduledAt, notificationId) {
			this.$store.commit('REQUEST_INIT')
			this.updateTodoNotification(this.todo.id, notificationId, {
				scheduled_at: this.formatDateForDatabase(scheduledAt)
			}).then(() => {
				this.onCreated()
				this.$store.commit('REQUEST_INIT')
			})
		},
		toggleActive(notificationId, toggle = false) {
			this.$store.commit('REQUEST_INIT')
			this.updateTodoNotification(this.todo.id, notificationId, {
				is_active: !toggle
			}).then(() => {
				this.onCreated()
				this.$store.commit('REQUEST_INIT')
			})
		}
	},
	mixins: [
		DateMixin,
		TodoNotificationsMixin
	],
	props: {
		todo: {
			type: Object,
			required: true
		}
	}
}
</script>

<style scoped>
	.is-clickable {
		cursor: pointer;
	}
</style>