<template>
	<div class="app base-layout">
		<header>
			<navbar class="has-background-dark" />
		</header>

		<main>
			<div class="columns">
				<div class="column is-full">
					<section class="section">
						<slot />
					</section>
				</div>
			</div>
		</main>

		<footer>
			<site-footer />
		</footer>
	</div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import Navbar from '@/components/navigation/MainNavbar.vue'

export default {
	name: 'BaseLayout',
	components: {
		'site-footer': Footer,
		Navbar
	}
}
</script>
<style scoped>
	.base-layout, main {
		background-color: #fff;
	}
</style>