<template>
	<div class="notification todo-item" :class="itemClass" @dblclick="onDblClick">
	  <div class="columns is-multiline">
		  <div class="checkbox column is-1">
		    <input type="checkbox" @click="onCompleteCheckboxClick($event)" v-if="!isCompleted" />
	    </div>

		  <div class="column is-9">
			  <p class="todo-title is-family-code">
					<span class="tag" :class="typeTagClass">
						<icon :icon="tagIconClass" />
						{{ todo.type.name }}
					</span>
				  {{ todo.title }}
			  </p>
			  <p class="todo-added is-size-7">
				  <icon icon="fas fa-calendar" />
				  Updated {{ formatDate(todo.created_at) }} at {{formatDate(todo.created_at, 'HH:mm')}}
				  (<vue-moments-ago prefix="" :date="todo.created_at" />)
			  </p>
			  <p class="todo-deadline is-size-7"
			     :class="{'has-text-info': !todo.is_overdue }" v-if="todo.deadline_at">
				  <icon icon="fas fa-clock" />
				  <strong v-if="todo.is_overdue">
					  Deadline on {{ formatDate(todo.deadline_at) }}
				  </strong>
				  <template v-else>
					  Deadline on {{ formatDate(todo.deadline_at) }}
				  </template>
			  </p>
		  </div>

			<div class="column is-1">
				<div class="dropdown" id="container--actions-dropdown" :class="{'is-active': dropdownOpen }" @click.prevent="onDropdownClick($event)">
				  <div class="dropdown-trigger ">
				    <button class="button" aria-haspopup="true" :aria-controls="`dropdown-menu-${todo.id}`">
				      <span>Actions</span>
				      <span class="icon is-small">
					      <icon icon="fas fa-angle-down" aria-hidden="true" />
				      </span>
				    </button>
				  </div>
				  <div class="dropdown-menu" :id="`dropdown-menu-${todo.id}`" role="menu">
				    <div class="dropdown-content">
				      <router-link ref="editLink" :to="{ name: 'edit-todo', params: { id: todo.id }}" class="dropdown-item">
				        Edit
				      </router-link>
				      <a href="#" class="dropdown-item">
				        Archive
				      </a>
				      <hr class="dropdown-divider">
				      <a href="#" class="dropdown-item" @click="onDeleteClick(todo.id)">
				        Delete
				      </a>
				    </div>
				  </div>
				</div>
			</div>

		  <div class="column is-4 is-offset-1">
				<vue-moments-ago prefix="completed" :date="todo.completed_at" v-if="isCompleted" />
			</div>
	  </div>

		<div class="columns todo-extension" v-if="extended">
			<div class="column is-10 is-offset-1">
				<p class="is-size-6 is-italic has-text-primary" v-text="todo.description"></p>
			</div>
		</div>

		<div class="columns is-centered icon-expand" @click="onClickExpand" v-if="todo.description">
			<icon icon="fas fa-angle-double-down has-text-dark" v-show="!extended"  />
			<icon icon="fas fa-angle-double-up has-text-dark" v-show="extended" />
		</div>

		<deadline-modal
			:show="calendarOpen"
		  @Close="onDeadlineCalendarClose"
		/>
	</div>
</template>

<script>
import DateMixin from '@/mixins/date.mixin'
import DeadlineModal from '@/components/modals/DeadlineModal.vue'
import Icon from '@/components/Icon.vue'
import DialogMixin from '@/mixins/dialog.mixin'
import TodosMixin from '@/mixins/todo.mixin'
import VueMomentsAgo from 'vue-moments-ago'

export default {
	name: 'TodoItem',
	computed: {
		isCompleted() {
			return (this.todo.completed_at != null)
		},
		itemClass() {
		    let itemClassObj = {
          'is-completed': this.isCompleted,
					'is-success': this.isCompleted,
			    'is-danger': this.todo.is_overdue
        }
        itemClassObj[`type-${this.todo.type.name.replace(' ', '_').toString().toLowerCase()}`] = true

			return itemClassObj
		},
		tagIconClass() {
			let iconClass = 'fas fa-edit'

			if (this.todo.type) {
				if (this.todo.type.name == 'Meeting') {
					iconClass = 'fas fa-users'
				}

				if (this.todo.type.name == 'Call') {
					iconClass = 'fas fa-phone'
				}
			}

			return iconClass
		},
		typeTagClass() {
			return {
				'is-primary': this.todo.type.name == 'Note',
				'is-danger': this.todo.type.name == 'Meeting',
				'is-info': this.todo.type.name == 'Call',
				'is-warning': this.todo.type.name == 'Life event'
			}
		}
	},
	components: {
		DeadlineModal,
		Icon,
		VueMomentsAgo
	},
	data: () => ({
		calendarOpen: false,
		dropdownOpen: false,
		extended: false
	}),
	methods: {
		onClickExpand() {
			this.extended = !this.extended
		},
		onCompleteCheckboxClick(e) {
			this.$store.commit('REQUEST_INIT')
			if (e.target.checked) {
				this.completeTodo(this.todo.id).then(() => {
					this.$emit('Completed')
					this.$store.commit('REQUEST_STOP')
				}).catch(() => {
					this.$store.commit('REQUEST_STOP')
				})
			} else {
				this.restoreTodo(this.todo.id).then(() => {
					this.$emit('Restored')
					this.$store.commit('REQUEST_STOP')
				}).catch(() => {
					this.$store.commit('REQUEST_STOP')
				})
			}
		},
		onDblClick() {
			this.$router.push(this.$refs.editLink.to)
		},
		onDeadlineCalendarClose() {
			this.calendarOpen = false
		},
		onDeadlineClick() {
			this.calendarOpen = true
		},
		onDeleteClick(id) {
			this.showConfirm((confirm) => {
				if (confirm) {
					this.deleteTodo(id).then(() => {
						this.$store.commit(
								'APP_MESSAGE',
								{
									message: 'Successfully deleted todo',
									type: 'success'
								}
						)

						this.$emit('Deleted', id)
					})
				}
			})
		},
		onDropdownClick(e) {
			e.stopPropagation()
			this.dropdownOpen = !this.dropdownOpen
		}
	},
	mixins: [
		DateMixin,
		DialogMixin,
		TodosMixin
	],
	props: {
		todo: {
			type: Object,
			required: true
		}
	}
}
</script>

<style scoped>
	.is-completed p.todo-title {
		text-decoration: line-through;
	}

	.dropdown-menu {
		z-index: 1000000 !important;
	}

	#container--actions-dropdown {
		visibility: hidden;
	}

	.notification:hover #container--actions-dropdown {
		visibility: visible;
	}

	.icon-expand .icon {
		cursor: pointer;
	}

	>>> .tag .icon {
		padding-right: 5px;
	}
</style>