<template>
	<nav class="navbar" role="navigation" aria-label="main navigation" v-if="lang">
	  <div class="navbar-brand">
	    <router-link class="navbar-item has-background-white" to="/">
	      <img src="@/assets/logo.png">
	    </router-link>

	    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>

	  <div class="navbar-menu">
	    <div class="navbar-start">
	      <router-link :to="{ name: 'home' }" class="navbar-item" :class="{'is-active': $route.name == 'home'}">
		      <icon icon="fas fa-home" />
	        {{ lang.webapp.nav_todo_list }}
	      </router-link>

	      <router-link :to="{ name: 'add-todo' }" class="navbar-item" :class="{'is-active': $route.name == 'add-todo'}">
		      <icon icon="fas fa-plus" />
	      </router-link>

		    <!--<router-link :to="{ name: 'home' }" class="navbar-item">-->
			    <!--<icon icon="fas fa-history" />-->
	        <!--History-->
	      <!--</router-link>-->

	      <div class="navbar-item has-dropdown is-hoverable">
	        <a class="navbar-link">
		        <icon icon="fas fa-ellipsis-h" />
	          {{ lang.webapp.nav_more }}
	        </a>

	        <div class="navbar-dropdown has-background-dark">
	          <a class="navbar-item">
	            {{ lang.webapp.nav_about }}
	          </a>
	          <a class="navbar-item">
	            {{ lang.webapp.nav_author }}
	          </a>
	          <hr class="navbar-divider">
	          <a class="navbar-item">
	            {{ lang.webapp.nav_report }}
	          </a>
	        </div>
	      </div>
	    </div>

	    <div class="navbar-end">
	      <div class="navbar-item">
	        <div class="buttons">
	          <a class="button is-primary" v-if="!$store.getters.isAuthenticated">
	            <strong>{{ lang.common.sign_up }}</strong>
	          </a>
		        <template v-else>
			        <p class="username" v-text="$store.getters.getCurrentUser.name" v-if="$store.getters.getCurrentUser"></p>
			        <a class="button is-danger btn-logout" @click.prevent="onClickLogout">
				        <icon icon="fas fa-lock" />
		            <strong>{{ lang.common.sign_out }}</strong>
		          </a>
		        </template>
	        </div>
	      </div>
	    </div>
	  </div>
	</nav>
</template>

<script>
import Icon from '@/components/Icon.vue'
import LangMixin from '@/mixins/lang.mixin'

export default {
	name: 'MainNavbar',
	components: {
		Icon
	},
	methods: {
		onClickLogout() {
			this.$store.dispatch('DEAUTH_REQUEST');
		}
	},
	mixins: [
		LangMixin
	]
}
</script>

<style scoped>
	.icon {
		margin-left: 0 !important;
		margin-right: 2px !important;
	}

	.navbar-item, .navbar-link {
		color: #fff;
	}

	.navbar-link:hover, .navbar-link:focus {
		background-color: #363636;
	}

	.navbar-item.is-active {
		color: #3298dc;
		background-color: #fff !important;
	}

	.btn-logout strong {
		display: none;
	}

	.btn-logout:hover strong {
		display: inline;
	}

	p.username {
		margin-right: 10px;
		font-weight: bold;
	}

	.navbar-brand, .navbar-start {
		margin-left: 10px;
	}

	.navbar-brand {
		margin-top: 10px;
		margin-bottom: 10px;
	}
</style>