<template>
	<base-layout class="is-family-primary">
		<div class="columns" v-if="lang && typeTag">
			<div class="column is-10">
				<h1 class="title is-3">
					{{ lang.webapp.title_add_todo }}
					<span class="tag" :class="typeTagClass">
						<icon :icon="tagIconClass" />
						{{ lang.webapp['todo_type_' + typeTag.replace(' ', '_').toLowerCase()] }}
					</span>
					<button class="button is-text" :title="lang.webapp.title_change_todo_type" @click="onTodoTypeEditable" v-if="!editType">
						<icon icon="fas fa-edit" />
					</button>
				</h1>
			</div>
			<div class="column is-2">
				<div class="field is-grouped is-pulled-right">
					<button
						class="button is-outlined"
						:class="{'is-primary': showControls.description}"
						:title="lang.webapp.form_add_todo_title_add_description"
					  @click="showControls.description = !showControls.description"
					>
						<icon icon="fas fa-quote-right" />
					</button>
					<button
							class="button is-outlined"
							:class="{'is-primary': showControls.deadline}"
							:title="lang.webapp.form_add_todo_title_add_deadline"
							@click="showControls.deadline = !showControls.deadline"
					>
						<icon icon="fas fa-calendar" />
					</button>
				</div>
			</div>
		</div>

		<add-todo-form
			:editType="editType"
			:showControls="showControls"
			@UpdatedTodoType="onUpdatedTodoType"
		/>
	</base-layout>
</template>

<script>
import BaseLayout from '@/components/layouts/BaseLayout.vue'
import LangMixin from '@/mixins/lang.mixin'
import AddTodoForm from '@/components/forms/AddTodoForm.vue'
import Icon from '@/components/Icon.vue'

export default {
	components: {
		AddTodoForm,
		BaseLayout,
		Icon
	},
	computed: {
		typeTagClass() {
			return {
				'is-primary': this.typeTag == 'Note',
				'is-danger': this.typeTag == 'Meeting',
				'is-info': this.typeTag == 'Call',
				'is-warning': this.typeTag == 'Life event'
			}
		},
		tagIconClass() {
			let iconClass = 'fas fa-edit'

			if (this.typeTag == 'Meeting') {
				iconClass = 'fas fa-users'
			}

			if (this.typeTag == 'Call') {
				iconClass = 'fas fa-phone'
			}

			return iconClass
		}
	},
	data: () => ({
		editType: false,
		showControls: {
			description: false,
			deadline: false
		},
		typeTag: null
	}),
	name: 'AddTodo',
	methods: {
		onTodoTypeEditable() {
			this.editType = true
		},
		onUpdatedTodoType(todoType) {
			if (
					todoType &&
					todoType.hasOwnProperty('name')
			) {
				this.typeTag = todoType.name
			}
		}
	},
	mixins: [
		LangMixin
	]
}
</script>
<style scoped>
	>>> .icon {
		margin-left: 2px !important;
		margin-right: 3px !important;
	}
</style>