<template>
	<h1 v-if="lang">{{ lang.common.confirmation }}</h1>
</template>

<script>
import LangMixin from '@/mixins/lang.mixin'
import UserMixin from '@/mixins/user.mixin'

export default {
	name: 'ConfirmEmail',
	created() {
		this.onCreated()
	},
	methods: {
		onCreated() {
			if (this.$route.params.token) {
				this.$store.commit('REQUEST_INIT')
				this.confirmEmail(this.$route.params.token).then((res) => {
					this.$store.commit(
							'APP_MESSAGE',
							{
								message: `Successfully confirmed email for user ${res.data.name}`,
								type: 'success',
								options: {
									duration: 5000
								}
							}
					)

					this.$router.push({
						name: 'home',
						params: {
							user: res.data
						}
					})
					this.$store.commit('REQUEST_STOP')
				}).catch(() => {
					this.$store.commit('REQUEST_STOP')
				})
			}
		}
	},
	mixins: [
		LangMixin,
		UserMixin
	]
}
</script>