<template>
	<base-layout class="is-family-primary">
		<div class="columns" v-if="lang">
			<div class="column is-10">
				<h1 class="title is-4" v-if="typeTag">
					<span class="tag" :class="typeTagClass" v-text="lang.webapp['todo_type_' + typeTag.replace(' ', '_').toLowerCase()]" />
					<button class="button is-text" :title="lang.webapp.title_change_todo_type" @click="onTodoTypeEditable" v-if="!editType">
						<icon icon="fas fa-edit" />
					</button>
				</h1>
			</div>

			<div class="column is-2 ">
				<div class="field is-grouped is-pulled-right">
					<button
							class="button is-outlined"
							:class="{'is-primary': showControls.description}"
							:title="lang.webapp.form_add_todo_title_add_description"
							@click="showControls.description = !showControls.description"
					>
						<icon icon="fas fa-quote-right" />
					</button>
					<button
							class="button is-outlined"
							:class="{'is-primary': showControls.deadline}"
							:title="lang.webapp.form_add_todo_title_add_deadline"
							@click="showControls.deadline = !showControls.deadline"
					>
						<icon icon="fas fa-calendar" />
					</button>
					<button
							class="button is-outlined"
							:class="{'is-primary': showControls.notifications}"
							:title="lang.webapp.form_add_todo_title_configure_notifications"
							@click="showControls.notifications = !showControls.notifications"
					    v-if="showControls.deadline"
					>
						<icon icon="fas fa-bell" />
					</button>
				</div>
			</div>
		</div>

		<edit-todo-form
				:editType="editType"
				:id="parseInt($route.params.id)"
				:showControls="showControls"
				@Completed="isCompleted = true"
				@DeadlineFound="onDeadlineFound"
				@DescriptionFound="onDescriptionFound"
				@Restored="isCompleted = false"
				@UpdatedTodoType="onUpdatedTodoType"
		/>
	</base-layout>
</template>

<script>
import BaseLayout from '@/components/layouts/BaseLayout.vue'
import EditTodoForm from '@/components/forms/EditTodoForm.vue'
import Icon from '@/components/Icon.vue'
import LangMixin from '@/mixins/lang.mixin'

export default {
	name: 'EditTodo',
	components: {
		BaseLayout,
		EditTodoForm,
		Icon
	},
	computed: {
		typeTagClass() {
			return {
				'is-primary': this.typeTag == 'Note',
				'is-danger': this.typeTag == 'Meeting',
				'is-info': this.typeTag == 'Call',
				'is-warning': this.typeTag == 'Life event'
			}
		}
	},
	data: () => ({
		editType: false,
		isCompleted: false,
		showControls: {
			description: false,
			deadline: false,
			notifications: false
		},
		typeTag: null
	}),
	methods: {
		onDeadlineFound() {
			this.showControls.deadline = true
			this.showControls.notifications = true
		},
		onDescriptionFound() {
			this.showControls.description = true
		},
		onTodoTypeEditable() {
			this.editType = true
		},
		onUpdatedTodoType(todoType) {
			if (
					todoType &&
					todoType.hasOwnProperty('name')
			) {
				this.typeTag = todoType.name
			}
		}
	},
	mixins: [
		LangMixin
	]
}
</script>

<style scoped>
	.completed {
		text-decoration: line-through;
	}
</style>