<template>
  <base-layout>
	  <ul class="list-todos">
		  <li v-for="todo in todos" :key="todo.id">
				<todo-item
					:todo="todo"
					@Completed="doRefresh"
					@Deleted="doRefresh"
				  @Restored="doRefresh"
				/>
		  </li>
	  </ul>

	  <p class="has-text-centered" v-if="showLoadMoreButton">
		  <a class="button is-primary" href="#" @click.prevent="loadMoreTodos">
			  {{ lang.common.load_x_more.replace(':x', howManyLeft) }} <template v-if="howManyLeft == defaultPagination">({{ countMoreToLoad }})</template>
		  </a>
	  </p>
  </base-layout>
</template>

<script>
import LangMixin from '@/mixins/lang.mixin'
import TodosMixin from '@/mixins/todo.mixin'

import BaseLayout from '@/components/layouts/BaseLayout.vue'
import TodoItem from '@/components/items/TodoItem.vue'

export default {
  name: "Home",
  components: {
	  BaseLayout,
	  TodoItem
  },
	computed: {
  	countMoreToLoad() {
  		return (this.paginationData != null) ? (this.paginationData.total - this.paginationData.to) : 0
	  },
		howManyLeft() {
  		return (this.countMoreToLoad < this.defaultPagination) ? this.countMoreToLoad : this.defaultPagination
		},
  	showLoadMoreButton() {
  		return (
        this.paginationData != null &&
        this.paginationData.current_page != this.paginationData.last_page
		  )
		}
	},
	created() {
		this.loadInitialTodos()
	},
	data: () => ({
		defaultPagination: 5,
		todos: [],
		paginationData: null
	}),
	methods: {
  	doRefresh() {
  		const currentPage = this.paginationData.current_page
  		this.loadInitialTodos()

		  this.paginationData.current_page = 1
		  for (let i = 2; i <= currentPage; i++) {
  			this.loadMoreTodos()
			  this.paginationData.current_page = i
		  }
	  },
  	loadInitialTodos() {
		  this.$store.commit('REQUEST_INIT')
		  this.getMyTodos(1, true).then((res) => {
			  this.todos = res.data.data
			  this.paginationData = res.data.pagination
			  this.$store.commit('REQUEST_STOP')
		  }).catch(() => {
			  this.$store.commit('REQUEST_STOP')
		  })
	  },
  	loadMoreTodos() {
			let nextPage = this.paginationData.current_page + 1
		  this.$store.commit('REQUEST_INIT')
		  this.getMyTodos(nextPage, true).then((res) => {
			  this.paginationData = res.data.pagination
			  this.todos = this.todos.concat(res.data.data)
			  this.$store.commit('REQUEST_STOP')
		  }).catch(() => {
			  this.$store.commit('REQUEST_STOP')
		  })
	  },
		onClickLogout() {
			this.$store.dispatch('DEAUTH_REQUEST');
		}
	},
	mixins: [
		LangMixin,
		TodosMixin
	]
};
</script>

<style scoped>
	.list-todos li {
		margin-bottom: 30px;
	}
</style>
