<template>
	<div class="container" v-if="lang">
		<h1>{{ lang.members.register }}</h1>
		<register-form @UserRegistered="onUserRegistered" />

		<p>
			<router-link :to="{name: 'home'}">{{ lang.common.back_to_app }}</router-link>
		</p>
	</div>
</template>

<script>
import RegisterForm from '@/components/forms/RegisterForm.vue'
import LangMixin from '@/mixins/lang.mixin'

export default {
	name: 'Register',
	components: {
		RegisterForm
	},
	methods: {
		onUserRegistered(user) {
			this.$store.commit(
					'APP_MESSAGE',
					{
						message: this.lang.members.register_success.replace(':user', user.name),
						type: 'success',
						options: {
							duration: 5000
						}
					}
			)
			this.$router.push({
				name: 'home',
				params: {
					user: user
				}
			})
		}
	},
	mixins: [
		LangMixin
	]
}
</script>

<style scoped>
	.container {
		margin-top: 20%;
	}

	h1 {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 20px;
	}

	p {
		margin-top: 30px;
	}
</style>