<template>
	<footer class="has-background-dark has-text-white">
		<p>&copy; 2019 Ionut Rus</p>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style scoped>
	footer {
		padding: 10px;
		text-align: center;
	}
</style>