<template>
	<span class="icon" :class="type" @click="$emit('click')">
    <i :class="icon"></i>
	</span>
</template>

<script>
export default {
	name: 'Icon',
	props: {
		icon: {
			type: String,
			required: true
		},
		type: {
			type: String,
			required: false,
			default: ''
		}
	}
}
</script>