<template>
  <div id="app" class="container">
    <router-view v-if="$store.getters.isAuthenticated || isGuestRoute" />
	  <login-form class="login-form" v-else />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import LangMixin from '@/mixins/lang.mixin'
import LoginForm from '@/components/forms/LoginForm.vue'
import ToasterMixin from '@/mixins/toaster.mixin'
import UserMixin from '@/mixins/user.mixin'

import 'bulma/css/bulma.css'

export default {
	name: 'App',
	components: {
		LoginForm
	},
	computed: {
		...mapState([
			'accessToken',
			'dictionary',
			'errors',
			'messages',
			'status'
		]),
		isGuestRoute() {
			return this.$route.meta.guest
		}
	},
	mixins: [
		LangMixin,
		ToasterMixin,
		UserMixin
	],
	watch: {
		accessToken: {
			handler(accessToken) {
				if (accessToken) {
					this.getCurrentUser().then((res) => {
						this.$store.commit('APP_USER', res.data)
					})
				}
			},
			immediate: true
		},
		dictionary: {
			handler(dictionary) {
				if (dictionary == null) {
					this.getDictionary().then((res) => {
						this.$store.commit('APP_DICTIONARY', res.data)
					})
				}
			},
			immediate: true
		},
		status: {
			handler(status) {
				if (status === 'loading') {
					this.loader = this.$loading.show()
				} else if (status === 'idle' && this.loader) {
					this.loader.hide()
				}
			},
			immediate: true
		},
		messages: {
			handler(messages) {
				messages.forEach((message) => {
					this.showToast(message.message, message.type, message.options)
				})
			},
			immediate: true
		}
	}
}
</script>

<style>
body, html {
	background-color: #d5ddeb;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
	text-align: left;
	margin-top: 20px;
}

#app .app {
	position: relative;
}

.login-form {
	margin-top: 20%;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
