<template>
	<ValidationObserver tag="form" ref="observer" v-slot="{ invalid }" @submit.prevent="onSubmit" v-if="lang">
		<div class="field" :class="{'is-hidden': !editType}">
			<div class="control">
				<ValidationProvider name="Type" rules="required" v-slot="{ errors }">
					<div class="select is-fullwidth is-info">
						<select
								v-model="model.type_id"
						>
							<option
								v-for="todoType in todoTypes"
								:key="todoType.id"
							  :value="todoType.id"
							  v-text="lang.webapp['todo_type_' + todoType.name.replace(' ', '_').toLowerCase()]"
							/>
						</select>
					</div>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
		  <div class="control">
			  <ValidationProvider name="Title" rules="required" v-slot="{ errors }">
		      <input
			      class="input is-info"
			      type="text"
			      :placeholder="lang.webapp.form_add_todo_placeholder_title"
		        v-model="model.title"
		      >
				  <p class="help is-danger">{{ errors[0] }}</p>
			  </ValidationProvider>
		  </div>
		</div>

		<div class="field" v-if="showControls.description">
		  <div class="control">
			  <textarea
				  class="textarea"
				  type="text"
				  :placeholder="lang.webapp.form_add_todo_placeholder_description"
			    v-model="model.description"
			  ></textarea>
		  </div>
		</div>

		<div class="field" v-if="showControls.deadline">
			<div class="columns">
				<div class="column is-10">
					<datepicker
							calendar-class="is-width-auto"
							inline
							monday-first
							v-model="deadlineDate"
					/>
				</div>
				<div class="column is-2">
					<timeselector
							displayFormat="HH:mm"
							v-model="deadlineTime"
					/>

					<div class="container-display" v-if="deadlineDate">
						<div class="column">
							<icon icon="fas fa-calendar" />
							<span class="value">{{ deadlineDate.toDateString() }}</span>
						</div>
						<div class="column">
							<icon icon="fas fa-clock" />
							<template v-if="deadlineTime">
								<span class="value">{{ deadlineTime.toTimeString().substr(0, 5) }}</span>
							</template>
							<template v-else>
								<span class="value">00:00</span>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="field submit-group is-grouped">
			<div class="control">
				<button class="button is-success" type="submit" :disabled="invalid">{{ lang.common.save }}</button>
			</div>
			<div class="control">
				<button class="button is-danger" type="button" @click="onCancelClick">{{ lang.common.cancel }}</button>
			</div>
		</div>
	</ValidationObserver>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import Icon from '@/components/Icon.vue'
import LangMixin from '@/mixins/lang.mixin'
import TodosMixin from '@/mixins/todo.mixin'
import TodosTypesMixin from '@/mixins/todo-types.mixin'
import Timeselector from 'vue-timeselector'
import { localize, extend, ValidationObserver } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'

extend('required', required)

export default {
	name: 'AddTodoForm',
	components: {
		Datepicker,
		Icon,
		Timeselector,
		ValidationObserver
	},
	created() {
		this.onCreated()
	},
	data: () => ({
		model: {
			type_id: 1,
			title: null,
			description: null,
			deadline_at: null
		},
		deadlineDate: null,
		deadlineTime: null,
		todoTypes: []
	}),
	methods: {
		emitTodoTypeUpdate(typeId) {
			this.$emit('UpdatedTodoType', this.todoTypes.find((todoType) => {
				return todoType.id == typeId
			}))
		},
		onCancelClick() {
			this.$router.push({
				name: 'home'
			})
		},
		onCreated() {
			this.$store.commit('REQUEST_INIT')

			this.getTodoTypes().then((res) => {
				this.todoTypes = res.data
				this.emitTodoTypeUpdate(this.model.type_id)
				this.$store.commit('REQUEST_STOP')
			}).catch(() => {
				this.$store.commit('REQUEST_STOP')
			})
		},
		onSubmit() {
			if (this.deadlineDate !== null) {
				this.prepareDeadlineAt()
			}

			this.$store.commit('REQUEST_INIT')
			this.createTodo(this.model).then(() => {
				this.$store.commit(
						'APP_MESSAGE',
						{
							message: this.lang.webapp.successfully_created_todo,
							type: 'success',
							options: {}
						}
				)
				this.$router.push({
					name: 'home'
				})
				this.$store.commit('REQUEST_STOP')
			}).catch(() => {
				this.$store.commit('REQUEST_STOP')
			})
		},
		prepareDeadlineAt() {
			this.model.deadline_at = `${this.deadlineDate.toISOString().substr(0, 10)} `
			this.model.deadline_at += (this.deadlineTime !== null) ? this.deadlineTime.toTimeString().substr(0, 8) :
					'00:00:00'
		}
	},
	mixins: [
		LangMixin,
		TodosMixin,
		TodosTypesMixin
	],
	props: {
		editType: {
			type: Boolean,
			default: false
		},
		showControls: {
			type: Object,
			default: () => {
				return {
					description: false,
					deadline: false
				}
			}
		}
	},
	watch: {
		lang: {
			handler(lang) {
				if (lang) {
					localize({
						en: {
							messages: {
								required: lang.validation.required.replace(":attribute", "{_field_}")
							}
						}
					})
				}
			},
			immediate: true
		},
		'model.type_id': {
			handler(typeId) {
				this.emitTodoTypeUpdate(typeId)
			},
			immediate: true
		}
	}
}
</script>

<style scoped>
	>>> .vdp-datepicker__calendar {
		background-color: #00d1b2;
		color: #fff;
	}

	>>> .vdp-datepicker__calendar.is-width-auto {
    width: auto !important;
  }

	>>> .vdp-datepicker__calendar .day__month_btn.up {
    font-weight: bold;
  }

	>>> .vdp-datepicker__calendar .cell.day.selected {
    font-weight: bold;
    color: #fff;
  }

	>>> .vtimeselector__box {
    height: 18em !important;
  }

	>>> .vtimeselector__input {
    border-style: none;
    font-size: 30px;
    text-align: center;
    background-color: #00d1b2;
    color: #fff;
    padding: 20px;
    cursor: pointer;
  }

	>>> .vdp-datepicker__calendar .next:after {
    border-left-color: #009778;
  }

	>>> .vdp-datepicker__calendar .prev:after {
    border-right-color: #009778;
  }

	.container-display {
		margin-top: 6em;
		padding: 5px;
		background-color: lightblue;
		font-weight: bold;
	}

	.container-display .value {
		color: #000;
	}

	.submit-group {
		margin-top: 3em;
	}
</style>