<template>
	<ValidationObserver tag="form" ref="observer" v-slot="{ invalid }" @submit.prevent="onSubmit" v-if="lang">
		<p class="last-updated is-7 title" v-if="model.updated_at">
			{{ lang.common.last_updated }}:
			{{ formatDate(model.updated_at, 'DD MMM YYYY HH:MM') }}
		</p>

		<div class="field" :class="{'is-hidden': !editType}">
			<div class="control">
				<ValidationProvider name="Type" rules="required" v-slot="{ errors }">
					<div class="select is-fullwidth is-info">
						<select
								v-model="model.type_id"
						>
							<option
									v-for="todoType in todoTypes"
									:key="todoType.id"
									:value="todoType.id"
									v-text="todoType.name"
							/>
						</select>
					</div>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
		  <div class="control">
			  <ValidationProvider name="Title" rules="required" v-slot="{ errors }">
		      <input
				      class="input is-info"
				      type="text"
				      :placeholder="lang.webapp.form_add_todo_placeholder_title"
				      v-model="model.title"
		      >
				  <p class="help is-danger">{{ errors[0] }}</p>
			  </ValidationProvider>
		  </div>
		</div>

		<div class="field" v-if="showControls.description">
		  <div class="control">
			  <textarea
				  class="textarea"
				  type="text"
				  :placeholder="lang.webapp.form_add_todo_placeholder_description"
			    v-model="model.description"
			  ></textarea>
		  </div>
		</div>

		<div class="field" v-if="showControls.deadline">
			<div class="columns">
				<div class="column is-10">
					<datepicker
							calendar-class="is-width-auto"
							inline
							monday-first
							v-model="deadlineDate"
					/>
				</div>
				<div class="column is-2">
					<timeselector
							displayFormat="HH:mm"
					    v-model="deadlineTime"
					/>

					<div class="container-display" v-if="deadlineDate">
						<div class="column">
							<icon icon="fas fa-calendar" />
							<span class="value">{{ deadlineDate.toDateString() }}</span>
						</div>
						<div class="column">
							<icon icon="fas fa-clock" />
							<template v-if="deadlineTime">
								<span class="value">{{ deadlineTime.toTimeString().substr(0, 5) }}</span>
							</template>
							<template v-else>
								<span class="value">00:00</span>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="field" v-if="model.completed_at">
			<div class="notification is-info">
					<div class="columns">
						<div class="column is-11">
							<icon icon="fas fa-check" />
							<vue-moments-ago prefix="Completed" :date="model.completed_at" />
						</div>
						<div class="column">
							<button class="button is-warning is-small" type="button" @click="onRestoreClick">{{ lang.common.undo
								}}</button>
						</div>
					</div>
			</div>
		</div>

		<div class="field" v-if="showControls.notifications">
			<todo-notifications-table
					:todo="model"
			    @UpdatedNotification="onUpdatedNotification"
			/>
		</div>

		<div class="field submit-group is-grouped">
			<div class="control">
				<button class="button is-success" type="submit" :disabled="invalid">{{ lang.common.update }}</button>
			</div>
			<div class="control">
				<button class="button is-danger" type="button" @click="onCancelClick">{{ lang.common.cancel }}</button>
			</div>
		</div>
	</ValidationObserver>
</template>

<script>
import AddTodoForm from './AddTodoForm.vue'
import DateMixin from '@/mixins/date.mixin'
import DialogMixin from '@/mixins/dialog.mixin'
import LangMixin from '@/mixins/lang.mixin'
import TodoNotificationsTable from '@/components/tables/TodoNotificationsTable.vue'
import VueMomentsAgo from 'vue-moments-ago'

export default {
	name: 'EditTodoForm',
	components: {
		TodoNotificationsTable,
		VueMomentsAgo
	},
	created() {
		this.onCreated()
	},
	data: () => ({
		model: {
			id: null
		},
		deadlineDate: null,
		deadlineTime: null,
		todoTypes: []
	}),
	extends: AddTodoForm,
	methods: {
		fillDeadlineDataFromModel() {
			this.deadlineTime = this.deadlineDate = new Date(this.model.deadline_at)
		},
		onCreated() {
			this.$store.commit('REQUEST_INIT')
			this.getTodo(this.$route.params.id).then((res) => {
				this.model = res.data
				this.$store.commit('REQUEST_STOP')

				if (this.model.description) {
						this.$emit('DescriptionFound')
				}

				if (this.model.completed_at) {
					this.$emit('Completed')
				}

				if (this.model.deadline_at) {
					this.fillDeadlineDataFromModel()
					this.$emit('DeadlineFound')
				}

				this.$store.commit('REQUEST_INIT')
				this.getTodoTypes().then((res) => {
					this.todoTypes = res.data
					this.emitTodoTypeUpdate(this.model.type_id)
					this.$store.commit('REQUEST_STOP')
				}).catch(() => {
						this.$store.commit('REQUEST_STOP')
				})
			}).catch(() => {
					this.$store.commit('REQUEST_STOP')
			})
		},
		onRestoreClick() {
			this.$store.commit('REQUEST_INIT')
			this.restoreTodo(this.model.id).then((res) => {
				this.model = res.data

				this.$store.commit(
						'APP_MESSAGE',
						{
							message: this.lang.webapp.successfully_restored_todo,
							type: 'success'
						}
				)

				this.$emit('Restored', this.model.id)
				this.$store.commit('REQUEST_STOP')
			})
		},
		onSubmit() {
			if (this.deadlineDate !== null) {
				this.prepareDeadlineAt()
			}

			this.$store.commit('REQUEST_INIT')
			this.updateTodo(this.id, this.model).then(() => {
				this.$store.commit(
						'APP_MESSAGE',
						{
							message: this.lang.webapp.successfully_updated_todo,
							type: 'success',
							options: {}
						}
				)
				this.$router.push({
					name: 'home'
				})
				this.$store.commit('REQUEST_STOP')
			}).catch(() => {
				this.$store.commit('REQUEST_STOP')
			})
		},
		onUpdatedNotification() {

		}
	},
	mixins: [
		DateMixin,
		DialogMixin,
		LangMixin
	],
	props: {
		id: {
			type: Number,
			required: true
		}
	},
	watch: {
		'model.type_id': {
			handler(typeId) {
				this.emitTodoTypeUpdate(typeId)
			},
			immediate: true
		}
	}
}
</script>

<style>
	.field {
		margin-bottom: 40px !important;
	}

	.last-updated {
		margin-top: -40px;
		font-style: italic;
	}
</style>