<template>
	<ValidationObserver tag="form" ref="observer" v-slot="{ invalid }" @submit.prevent="onLoginSubmit" v-if="lang">
		<div class="field">
			<label for="input-email" class="label">{{ lang.auth.email }}:</label>
			<div class="control">
				<ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
					<input
						autocomplete="username"
						type="email"
						class="input is-primary"
						id="input-email"
						v-model="model.email"
					>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
			<label for="input-password" class="label">{{ lang.auth.password }}:</label>
			<div class="control">
				<ValidationProvider name="Password" rules="required" v-slot="{ errors }">
					<input
						autocomplete="current-password"
						type="password"
						class="input is-primary"
						id="input-password"
						v-model="model.password"
					>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<button type="submit" class="button is-dark" :disabled="invalid">{{ lang.auth.login }}</button>

		<p class="call-to-register">
			{{ lang.auth.no_account_yet }} <router-link :to="{name: 'register'}">{{ lang.auth.register_here }}</router-link>
		</p>
	</ValidationObserver>
</template>

<script>
import { localize, extend, ValidationObserver } from 'vee-validate'
import { required, email } from 'vee-validate/dist/rules'
import LangMixin from '@/mixins/lang.mixin'

extend('required', required)
extend('email', email)

export default {
	components: {
		ValidationObserver
	},
	name: 'LoginForm',
	created() {
		this.onCreated()
	},
	data: () => ({
		model: {
			email: undefined,
			password: undefined
		}
	}),
	methods: {
		onCreated() {
			if (this.$route.params.user) {
				this.model.email = this.$route.params.user.email
			}
		},
		onLoginSubmit() {
			this.$store.commit('RESET_MESSAGES')
			this.$store.commit('REQUEST_INIT')
			this.$store.dispatch('AUTH_REQUEST', this.model).then(() => {
				this.$store.commit('REQUEST_STOP')
			}).catch((error) => {
				this.$store.commit('REQUEST_STOP')
				this.$store.commit(
						'APP_MESSAGE',
						{
							message: error.response.data.message,
							type: 'danger',
							options: {
								duration: 5000,
								closeOnClick: false,
								dismissible: false
							}
						}
				)
			})
		}
	},
	mixins: [
		LangMixin
	],
	watch: {
		lang: {
			handler(lang) {
				if (lang) {
					localize({
						en: {
							messages: {
								required: lang.validation.required.replace(":attribute", "{_field_}"),
								email: lang.validation.email.replace(":attribute", "{_field_}")
							}
						}
					})
				}
			},
			immediate: true
		}
	}
}
</script>

<style scoped>
	.call-to-register {
		margin-top: 40px;
	}
</style>