<template>
	<ValidationObserver tag="form" ref="observer" v-slot="{ invalid }" @submit.prevent="onSubmit">
		<div class="field">
			<div class="control">
				<ValidationProvider name="Name" rules="required" v-slot="{ errors }">
					<input
							class="input"
							:class="{'is-info': errors.length < 1, 'is-danger': errors.length > 0}"
							placeholder="Your name"
							type="text"
					    v-model="model.name"
					/>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
					<input
							class="input"
							:class="{'is-info': errors.length < 1, 'is-danger': errors.length > 0}"
							placeholder="Your e-mail address"
							type="email"
					    v-model="model.email"
					/>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<ValidationProvider name="Password" rules="required|confirmed:confirmation" v-slot="{ errors }">
					<input
							class="input"
							:class="{'is-info': errors.length < 1, 'is-danger': errors.length > 0}"
							placeholder="Password"
							ref="password"
							type="password"
							v-model="model.password"
					/>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<ValidationProvider name="Password confirmation" rules="required" v-slot="{ errors }" vid="confirmation">
					<input
							class="input"
							:class="{'is-info': errors.length < 1, 'is-danger': errors.length > 0}"
							placeholder="Confirm your password"
							type="password"
							v-model="model.password_confirmation"
					/>
					<p class="help is-danger">{{ errors[0] }}</p>
				</ValidationProvider>
			</div>
		</div>

		<div class="field submit-group">
			<div class="control">
				<button class="button is-success" type="submit" :disabled="invalid">{{ lang.members.complete_registration }}</button>
			</div>
		</div>
	</ValidationObserver>
</template>

<script>
import { localize, extend, ValidationObserver } from 'vee-validate'
import { required, email, confirmed } from 'vee-validate/dist/rules'
import LangMixin from '@/mixins/lang.mixin'
import UserMixin from '@/mixins/user.mixin'

extend('confirmed', confirmed)
extend('email', email)
extend('required', required)

export default {
	name: 'RegisterForm',
	components: {
		ValidationObserver
	},
	data: () => ({
		model: {
			name: null,
			email: null,
			password: null,
			password_confirmation: null
		}
	}),
	methods: {
		onSubmit() {
			this.$store.commit('RESET_MESSAGES')
			this.$store.commit('REQUEST_INIT')
			this.registerUser(this.model).then((res) => {
				this.$emit('UserRegistered', res.data)
				this.$store.commit('REQUEST_STOP')
			}).catch((error) => {
				for (let field in error.response.data.errors) {
					error.response.data.errors[field].forEach((fieldError) => {
						this.$store.commit(
								'APP_MESSAGE',
								{
									message: fieldError,
									type: 'danger',
									options: {
										duration: 5000,
										closeOnClick: false,
										dismissible: false
									}
								}
						)
					})
				}
				this.$store.commit('REQUEST_STOP')
			})
		}
	},
	mixins: [
		LangMixin,
		UserMixin
	],
	watch: {
		lang: {
			handler(lang) {
				if (lang) {
					localize({
						en: {
							messages: {
								confirmed: lang.validation.confirmed.replace(":attribute", "{_field_}"),
								required: lang.validation.required.replace(":attribute", "{_field_}"),
								email: lang.validation.email.replace(":attribute", "{_field_}")
							}
						}
					})
				}
			},
			immediate: true
		}
	}
}
</script>